{% extends 'base.html' %}
{%load static%}
{% block css %}
    <link rel="stylesheet" href="{%static 'css/ordonnance.css'%}">
{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% block content %}
    <div class="container">
        <div class="ordonnance-info">
            <p>
                Date:<span class="date">{{date}}</span>
            </p>
            <p>
                Matricule:<span class="matricule">{{employer.matricule}}</span>
            </p>    
            <p>
                inam:<span class="nom">{{employer.inam}}</span>
            </p>
            <p>
                Nom:<span class="nom">{{employer.nom}}</span>
            </p>
            <p>
                Gfu:<input type="text" name="gfu" id="gfu"  placeholder="gfu" style="color: rgb(0, 0, 0);" required>
            </p>
            <p>
                Whatsap:<input type="text" name="whatsap" id="whatsap"  placeholder="whatsap" style="color: rgb(0, 0, 0);" required>
            </p>
        </div>