{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{%static 'css/ordonnance_generate.css'%}">
<title>Ordonnancier SOMELEC</title>

</head>
<body>

<div class="header">
    <div class="logo">
        <img src="{% static 'images/som.jpg'%}" alt="SOMELEC">
        <img src="{% static 'images/hhh.jpg'%}" alt="">
    </div>
        <div class="org-info">
            
            SOMELEC (Société Mauritanienne d’Électricité)<br>
            DCRH (Direction Central de Ressoursses Humaines)<br>
            SAS (Service Affaires Sociales)<br>
            CSC (Centre Santé Somelec)
            <div>
                <div class="date">Date : {{date}}</div>
            </div>
        </div>

        
</div>

<h2><span>Ordonnancier NO {{ordonnance.id}}</span> </h2>
<h3>GFU/WHATSAP:{{ordonnance.gfu_whatsap}}</h3>
<h3>Statut de la prescription:{{ordonnance.prescription}}</h3>
<h3>Diagnostic:{{ordonnance.diagnostic}}</h3>
<div class="field">
    <label>Nom :</label><span>{{employer.nom}}</span>
</div>
<div class="field">
    <label>Matricule/INAM :</label><span>{{employer.matricule}} / {{employer.inam}}</span>
</div>
<div class="field">
    <label>UR :</label><span>{{employer.ur}}</span>
</div>
    

<table id="medicaments-table">
    <thead>
        <tr>
            <th>Médicament</th>
            <th>Dosage</th>
            <th>Usage/jour</th>
            <th>Durée</th>
            <th>Qte demandée</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% for medicament in medicaments %}
        <tr>
            <td>{{medicament.nom}}</td>
            <td>{{medicament.dosage}}</td>
            <td>{{medicament.utilisation}}</td>
            <td>{{medicament.duree}} {{medicament.type_duree}}(s)</td>
            <td>{{medicament.quantite}}</td>
            
            
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" class="total">Total Quantite</td>
            <td>{{total_quantite}}</td>
        </tr>
    </tbody>
</table>



<div class="signature" style="margin-top: 50px;">
    <div>
        {{reference.nom_technicien}}<br>
        Technicien supérieur de santé (Major)
    </div>
    <div>
        {{reference.nom_medecin}}<br>
        Médecin généraliste
    </div>
</div>
    <section class="button-imprimer">
        {% if ordonnance%}
            {% if ordonnance.validate_chef %}

            <button onclick="imprimer()" >Imprimer</button>
            {% else %}
            <a href="/filtre/">Plus tard</a>
            <p>L'ordonnance ne pas encore valider Par La Chef: {{reference.nom_chef}}</p>
            {% endif %}
        {% endif %}
    </section>

    <script>
        function imprimer() {
            
            window.print();
        }
    </script>

</body>
</html>
