{% extends 'base.html' %}
{%load static%}
{% block css %}
    <link rel="stylesheet" href="{%static 'css/ordonnance.css'%}">
{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% block content %}
    <div class="container">
        <div class="ordonnance-info">
            <p>
                Date:<span class="date">{{date}}</span>
            </p>
            <p>
                Matricule:<span class="matricule">{{employer.matricule}}</span>
            </p>    
            <p>
                inam:<span class="nom">{{employer.inam}}</span>
            </p>
            <p>
                Nom:<span class="nom">{{employer.nom}}</span>
            </p>
            <p>
                Gfu:<input type="text" name="gfu" id="gfu"  placeholder="gfu" style="color: rgb(0, 0, 0);" required>
            </p>
            <p>
                Whatsap:<input type="text" name="whatsap" id="whatsap"  placeholder="whatsap" style="color: rgb(0, 0, 0);" required>
            </p>
            <p>
                Diagnostic:<input type="text" name="diagnostic" id="diagnostic"  placeholder="diagnostic" style="color: rgb(0, 0, 0);" required>
                
            </p>
            <p>
                Statut de la prescription:
                <select name="prescription" id="">
                    <option value="">---</option>
                    <option value="Normale">Normale</option>
                    <option value="Urgent">Urgent</option>
                    <option value="Chronique">Chronique</option>
                </select>
            </p>
            

        </div>

        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Médicament</th>
                        <th>dosage</th>
                        <th>Qté demandée</th>
                        <th>utilisation</th>
                        <th>Durée</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="medicament-list">
                </tbody>
            </table>
                
                
                <div class="add">
                    <section style="display: flex; gap: 10px; align-items: center;">
                        <input type="text" name="medicament" placeholder="Nom du médicament" required id="medicament-name" style="color: white;">
                        <select name="dosage" id="">
                            <option value="">------</option>
                            <option value="cp">CP</option>
                            <option value="sirop">SIROP</option>
                            <option value="gel">GEL</option>
                            <option value="sachet">SACHET</option>
                            <option value="creme">CREME</option>
                            <option value="injectable">INJECTABLE</option>
                            
                        </select>
                        <input type="number" name="quantite" placeholder="Quantité" required id="medicament-quantity" style="color: white;">
                        <input type="number" name="utilisation" placeholder="nombre par Jour" required id="medicament-utilisation" style="color: white;">
                        
                            <input type="number" name="duree" id="duree" min="1" value="1" placeholder="durée" style="color: white;">
                            <select name="type_duree" id="">
                                <option value="jour">Jour</option>
                                <option value="semaine">Semaine</option>
                                <option value="mois">Mois</option>
                            </select>
                        
                        <button type="submit" onclick="handleAjouterMedicament()">Ajouter</button>
                    </section>
                    <section>
                        <form action="{% url 'ordonnance_generate' %}" method="post" id="ordonnance-form">
                            {% csrf_token %}
                            <input type="hidden" name="inam_assurer" value="{{employer.inam}}">
                            <button type="submit" style="margin-left: 530px; padding-inline:30px; ">Générer l'ordonnance</button>
                            

                            
                        </form>
                    </section>
                </div>

        
        </div>
    </div>
    <script>
        let medicamentList = [];
function handleAjouterMedicament(event) {

    let medicamentName = document.getElementById('medicament-name').value;
    let medicamentQuantity = document.getElementById('medicament-quantity').value;
    let medicamentUtilisation = document.getElementById('medicament-utilisation').value;
    let medicamentDosage = document.querySelector('select[name="dosage"]').value;
    let medicamentDuree = document.getElementById('duree').value;
    let medicamentTypeDuree = document.querySelector('select[name="type_duree"]').value;
    if (/^ *$/.test(medicamentName)) {
        alert("Le nom du médicament ne peut pas être vide.");
        return;
    }
    if (medicamentName.length < 3) {
        alert("Le nom du médicament doit contenir au moins 3 caractères.");
        return;
    }
    if (medicamentQuantity <= 0) {
        alert("La quantité doit être supérieure à zéro.");
        return;
    }
    if(medicamentList.length>='{{reference.quantite_medicament}}'){
        alert("le tableau de medicement ne peut pas pase {{reference.quantite_medicament}}");
        return;
    }
    const medicament = {
        name: medicamentName,
        quantity: medicamentQuantity,
        utilisation: medicamentUtilisation,
        dosage: medicamentDosage,
        duree: medicamentDuree,
        type_duree: medicamentTypeDuree
    };
    medicamentList.push(medicament);
    handleRemplirTableau();

}


function handleRemplirTableau() {
    let tbody = document.getElementById('medicament-list');
    tbody.innerHTML = '';
    medicamentList.forEach(medicament => {
        tbody.innerHTML += 
            `<tr>
                <td>${medicament.name}</td>
                <td>${medicament.dosage}</td>
                <td>${medicament.quantity}</td>
                <td>${medicament.utilisation} / Jour</td>
                <td>${medicament.duree || ''} ${medicament.type_duree || ''}</td>
                
                <td>
                    <div class="action-icons" onclick="handleSupprimerMedicament(${medicamentList.indexOf(medicament)})">
                        <img src="/static/images/supprimer.png" alt="" style="margin-left: 65px;">
                    </div>
                </td>
            </tr>`;
    });
}


function handleSupprimerMedicament(index) {
    medicamentList.splice(index, 1);
    handleRemplirTableau();
}

document.getElementById('ordonnance-form').addEventListener('submit', function(event) {
    let hiddenInput = document.getElementById('medicaments-json');
    let gfu = document.getElementById('gfu').value;
    let whatsap = document.getElementById('whatsap').value;
    let diagnostic = document.getElementById('diagnostic').value;
    let prescription = document.querySelector('select[name="prescription"]').value;
    
    if (gfu.trim() === '') {
        alert("Veuillez entrer le GFU.");
        event.preventDefault();
        return;
    }
    let hiddenInpu = document.createElement("input");
        hiddenInpu.type = "hidden";
        hiddenInpu.name = "gfu";
        hiddenInpu.value = gfu;

        // Append to current form
        this.appendChild(hiddenInpu);
        if (whatsap.trim() === '') {
        alert("Veuillez entrer le Whatsap.");   
        event.preventDefault();
        return;
    }
    let hiddenInputWhatsap = document.createElement("input");
        hiddenInputWhatsap.type = "hidden";
        hiddenInputWhatsap.name = "whatsap";
        hiddenInputWhatsap.value = whatsap;

        // Append to current form
        this.appendChild(hiddenInputWhatsap);
    if (diagnostic.trim() === '') {
        alert("Veuillez entrer le diagnostic.");
        event.preventDefault();
        return;
    }
    let hiddenInputDiag = document.createElement("input");
        hiddenInputDiag.type = "hidden";
        hiddenInputDiag.name = "diagnostic";
        hiddenInputDiag.value = diagnostic;

        // Append to current form
        this.appendChild(hiddenInputDiag);
    if (prescription.trim() === '') {
        alert("Veuillez sélectionner le statut de la prescription.");
        event.preventDefault();
        return;
    }
    let hiddenInputt = document.createElement("input");
        hiddenInputt.type = "hidden";
        hiddenInputt.name = "prescription";
        hiddenInputt.value = prescription;
        
        this.appendChild(hiddenInputt);
    if (!hiddenInput) {
        hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'medicaments';
        hiddenInput.id = 'medicaments-json';
        this.appendChild(hiddenInput);
    }
    hiddenInput.value = JSON.stringify(medicamentList);
    
    if (medicamentList.length == 0) {
        event.preventDefault();
        alert("Veuillez ajouter au moins un médicament avant de générer l'ordonnance.");
        return;
    }
});
    </script>
{% endblock %}