header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: #ffffff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
header h1{
    color: #0c215a;
    font-family: 'poppins';
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.links ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    color:#0c215a;
    text-decoration: none;
    font-size: .9rem;
    transition: color 0.2s;
    font-family: 'poppins';
}

.links a:hover {
    color: #000000;
}

nav{
    z-index: 99;
    position: absolute;
    top: 120px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 1px 10px #ddd;
    border-radius: 5px;
    display: none;
    animation: fadeIn .2s ease ;
}

@keyframes fadeIn {
    0%{
        transform: translateY(-30px);
    }
    25%{
        transform: translateY(-29px);

    }
    50%{
        transform: translateY(-28px);

    }
    75%{
        transform: translateY(-27px);

    }
    100%{
        transform: translateY(-26px);

    }
}
nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
}
nav ul  li{
    padding: 5px 15px;
    margin: 0;
    transition: .2s ease;
}
nav ul li:hover{
    background-color: #ddd;
}
nav ul li:last-child {
    background-color: #e8e8e8;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.navToggle {
    display: none;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding: 5px;
}
.navToggle i {
    font-size: 32px;
}

@media (max-width: 1230px){
    .links {
        display: none;
    }
    .navToggle{
        display: block;
    }
}