/* body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left-header {
    line-height: 1.5;
    font-weight: bold;
}

.right-header {
    text-align: right;
}

.right-header .date-label {
    font-weight: bold;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0 30px 0;
}

.field {
    margin: 10px 0;
} */

.field label {
    font-weight: bold;
    text-decoration: none;
}

.field span {
    display: inline-block;
    
    width: 75%;
    margin-left: 5px;
    text-decoration: none;
}

.lines {
    margin-top: 40px;
}

.line {
    border-bottom: 1px solid black;
    margin: 20px 0;
}

.footer {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.page-number {
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-size: 32px;
    color: gray;
    opacity: 0.3;
}
.button-imprimer button,.button-imprimer a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #0c215a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}



@media print {
    .button-imprimer {
        display: none;
    }
}
    body {
        font-family: Arial, sans-serif;
        margin: 30px;
        line-height: 1.4;
        text-decoration: none;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
    .logo img {
        height: 80px;
    }
    .org-info {
        font-size: 14px;
        margin-block:20px ;
        display: flex;
        justify-content: space-between;
    }
    .date {
        text-align: right;
        font-weight: bold;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
    }
    h2 span {
        text-align: center;
    }
    h2 u{
        text-align: right;
    }
    h3{
        text-align: right;
        margin: 0;
    }
    .form-section {
        margin-top: 20px;
        font-size: 16px;
    }
    .form-section label {
        font-weight: bold;
    }
    .form-section .line {
        display: block;
        border-bottom: 1px dotted #000;
        margin: 8px 0;
    }
    .signature {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .signature div {
        text-align: center;
        font-weight: bold;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
        border-radius: 5px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 3px;
        text-align: center;
    }
    th {
        background: #f0f0f0;
    }
    .linee {
        margin-top: 100px;
    }

