{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
</head>
<body>
    
    <header>
            
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}" alt="">
                <h1>INFERMERIE</h1>
            </div>
            <div class="links">
                <ul>
                    {% if user.role == 'gestionnaire' %}
                        <li><a href="/filtre/">Ordonnaces</a></li>
                        <li><a href="/pris_charge/">Pris en charge</a></li>
                        <li><a href="/liste_ordonnances/">Listes Ordonnaces</a></li>
                        <li><a href="/liste_pris_en_charge/">liste pris en charge</a></li>
                        <li><a href="/tableau_referencer/">tableau referencer</a></li>
                        <li><a href="/ajouter/">Tableau Bon</a></li>
                        <li><a href="/liste_bon/">Liste bon</a></li>
                        {% elif user.role == 'chef service' %}
                        <li><a href="/liste_ordonnances/chef/">Listes Ordonnaces</a></li>
                        {% elif user.role == 'medecin' %}
                        <li><a href="/liste_ordonnances/medecin/">Listes Ordonnaces</a></li>
                {% endif %}
            <li><a href="/logout/">Logout</a></li>
                </ul>
                    
                        
    
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}

        </main>
        {% block js %}{% endblock %}
</body>
</html>