<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ordonnance.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ordonnance.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.jpg" alt="">
            <h1>INFERMERIE</h1>
        </div>
        <div class="links">
            <ul>
                <li><a href="#">Ordonnaces</a></li>
                <li><a href="#">Pris en charge</a></li>
                
            </ul>

        </div>
    </header>
    <div class="container">
        <div class="ordonnance-info">
            <p>
                Date:<span class="date">27/07/2025</span>
            </p>
            <p>
                Matricule:<span class="matricule">12345</span>
            </p>    
            <p>
                Nom:<span class="nom">Ali Ahmed</span>
            </p>
            <p>
                Lien: <span class="lien">
                    <select name="lien" id="lien">
                    <option value="lui-meme">lui-meme</option>
                    <option value="son enfant">son enfant</option>
                    </select>
                </span>
            </p>
            

        </div>

        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Médicament</th>
                        <th>Qté demandée</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Paracétamol</td>
                        <td>2</td>
                        <td>
                            <div class="action-icons">
                                <img src="supprimer.png" alt="">
                                
                            </div>
                        </td>
                        
                    </tr>
                   
                    
                    <tr>
                        <td>Paracétamol</td>
                        <td>2</td>
                        <td>
                            <div class="action-icons">
                                <img src="supprimer.png" alt="">
                                
                            </div>
                        </td>
                        
                    </tr>
                   
                    
                </tbody>
            </table>
                <div class="add-medicament">
                    <button >Ajouter un médicament</button>
                </div>
        
        </div>
    </div>
</body>
</html>